# Node modules
/node_modules/

# Build output
/build/
/dist/

# Environment variables
.env

# Logs
*.log

# Dependency directories
/.pnp
.pnp.js

# IDE and editor settings
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
/coverage/

# Temporary files
*.tmp
*.temp
