# Node modules
/client/node_modules/
/server/node_modules/

# Build output
/client/build/
//server/build/

# Environment variables
/.env

# Logs
*.log

# IDE and editor settings
/.vscode/
/.idea/
/*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
/client/coverage/
/server/coverage/

# Temporary files
*.tmp
*.temp
